<!DOCTYPE html>
<html>
<head>
	<title>Select Dropdown Example</title>
	<style>
		select {
			padding: 5px;
			font-size: 16px;
			border-radius: 5px;
			border: 1px solid #ccc;
			background-color: #fff;
			width: 200px;
		}
		option {
			padding: 5px;
			font-size: 16px;
			color: #000;
		}
	</style>
</head>
<body>
	<label for="my-select">Select an option:</label>
	<select id="my-select" name="my-select">
		<option value="">--Select an option--</option>
		<option value="option-1">Option 1</option>
		<option value="option-2">Option 2</option>
		<option value="option-3">Option 3</option>
		<option value="option-4">Option 4</option>
		<option value="option-5">Option 5</option>
	</select>
</body>
</html>
